!/usr/bin/env rustc

// Derive fmt::Debug implementation for Structure . Structure is a structure which contains as single i32
#[derive(Debug)]
struct Structure(i32);

#[derive(Debug)]
struct Deep(Structure)



